.market-container {
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 228px;
      height: 54px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../../assets/market-tab-bg-disabled.webp);
      background-size: 100% 100%;
      font-size: 20px;
      margin-right: 24px;
      color: #6D7297;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-image: url(../../assets/market-tab-bg.webp);
        color: #291C44;
        font-weight: 500;
      }
    }
  }
  .content-container {
    display: flex;
    margin-top: 68px;
  }
  .table-container {
    flex: 1;
    margin-left: 40px;
    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .total {
        font-size: 40px;
        color: #FABE32;
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .no-data {
        color: #9F9F9F;
        font-size: 16px;
      }
    }
  }
}