.market-container {
  .table-container {
    flex: 1;
    padding: 0 24px 40px;
    background: #484848;
    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      border-bottom: 1px solid #d6d6d6;
      font-size: 24px;
      color: #fff;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
  .content-container {
    display: flex;
  }
  :global {
    .ant-tabs {
      .ant-tabs-nav {
        background-color: #2e2e2e;
        border-top: 1px solid #9f9f9f;
        margin: 0;
        height: 50px;
        &:before {
          display: none;
        }
      }
    }
  }
}