:global {
  .synthesize-modal {
    .ant-modal {
      top: 40px;
    }
    .ant-modal-content {
      background: url(../../../../assets/account-modal.webp) no-repeat center;
      background-size: 100% 100%;
      width: 1009px;
      height: 681px;
      box-shadow: none;
      border-radius: 0;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-close {
      top: -35px;
      right: -35px;
    }
    .ant-modal-close-x {
      width: 74px;
      height: 74px;
      line-height: 74px;
      > img {
        width: 100%;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  .title {
    color: #FABE32;
    font-size: 24px;
  }
  .body {
    position: relative;
    width: 773px;
    height: 393px;
    background: url(../../../../assets/synthesize.webp) no-repeat center;
    background-size: 100% 100%;
    margin-top: 63px;
    .pos {
      position: absolute;
      background: url(../../../../assets/icon-bg.webp) no-repeat center;
      width: 140px;
      height: 140px;
      background-size: 100% 100%;
      .type {
        position: absolute;
        top: 18px;
        left: -6px;
        height: 26px;
      }
      .equiment-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80px;
        max-height: 80px;
      }
    }
    .pos-1 {
      top: 20px;
      left: 20px;
    }
    .pos-2 {
      top: 20px;
      right: 20px;
    }
    .pos-3 {
      left: 84px;
      bottom: 24px;
    }
    .target {
      background-image: url(../../../../assets/icon-bg.webp);
      bottom: 24px;
      right: 84px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > img {
        width: 48px;
      }
      > span {
        position: absolute;
        font-size: 18px;
        color: #FEDD71;
        bottom: -24px;
      }
    }
    .fail-img {
      position: absolute;
      top: 91px;
      left: 320px;
      width: 149px;
    }
    .succ {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 230px;
      height: 230px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .type {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 52px;
      }
      .equiment-img {
        max-width: 120px;
        max-height: 120px;
      }
      .properties {
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}