.inventory-tab {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      font-size: 40px;
      color: #FABE32;
      font-weight: bold;
    }
    .btn-group {
      display: flex;
      align-items: center;
    }
  }
  .panels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .panel {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 340px;
      background: linear-gradient(135deg,#29224a, #120f24 100%);
      border: 1px solid;
      border-image: linear-gradient(158deg, #6f6ea3 3%, #2e254e 86%) 1 1;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-right: 64px;
      margin-bottom: 77px;
      cursor: pointer;
      &.active {
        border: 3px solid #ddb790;
        .correct-img {
          width: 74px;
          position: absolute;
          bottom: -37px;
          right: -37px;
        }
      }
      &.disabled {
        filter: grayscale(100%);
        cursor: not-allowed;
        pointer-events: none;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      .name {
        margin-top: 14px;
      }
      .attrs {
        color: #D6D6D6;
        margin-top: 10px;
        font-size: 16px;
      }
      :global {
        .inventory-checkbox .ant-checkbox-inner {
          border-color: #d6d6d6;
        }
      }
    }
  }
}