.inventory-tab {
  .panels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    .panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 60px 30px 0;
      color: #fff;
      &:last-child {
        margin-right: 0;
      }
      .name {
        margin-top: 14px;
      }
      .attrs {
        color: #D6D6D6;
        margin-top: 10px;
        font-size: 16px;
      }
      :global {
        .inventory-checkbox .ant-checkbox-inner {
          border-color: #d6d6d6;
        }
      }
    }
  }
}