@body-background: #2e2e2e;
@table-header-bg: #484848;
@component-background: #484848;
@select-background: #2e2e2e;
@select-dropdown-bg: #1a1a1a;
@border-color-split: #D6D6D6;
@modal-content-bg: #484848;
@modal-header-bg: #484848;
// @border-color-base: #D6D6D6;