.copy-container {
  position: relative;
  display: flex;
  align-items: center;
  color:#FABE32;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.tooltip {
  position: absolute;
  bottom: -22px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  color: #333;
  border-radius: 16px;
  opacity: 0.7;
  z-index: 100;
}