:global {
  .market-table {
    .ant-table-thead {
      tr {
        th {
          // border-bottom: 1px solid #9f9f9f;
          border-bottom: 0;
          &::before {
            display: none;
          }
        }
      }
    }
    .ant-table-tbody {
      tr {
        td {
          border-bottom: 0;
        }
      }
    }
  }
}