:global {
  .sell-modal {
    .ant-modal-header {
      text-align: center;
      border-bottom: none;
    }
    .sell-input {
      background: #303030;
      border: 1px solid #9f9f9f;
    }
  }
}

.img {
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg,#585858, #414141 99%);
  border: 1px solid #1a1a1a;
  border-radius: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input {
    display: flex;
    align-items: center;
    margin-top: 34px;
  }
}