:global {
  .sell-modal {
    .ant-modal-header {
      text-align: center;
      border-bottom: none;
    }
    .sell-input {
      background: #303030;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input {
    display: flex;
    align-items: center;
    margin-top: 34px;
  }
}