.deposit-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background: #120f24;
  box-shadow: 0px 11px 12px -6px rgba(18,10,38,0.70);
  color: #fff;
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 68px;
    width: 420px;
    border-right: 1px solid #2b1957;
    .title {
      font-size: 40px;
      color: #FABE32;
      font-weight: bold;
    }
    .img {
      position: relative;
      width: 210px;
      height: 210px;
      background: url(../../assets/icon-bg.webp) no-repeat center;
      background-size: 100% 100%;
      margin-top: 78px;
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .name {
      font-size: 24px;
      color: #fff;
      margin-top: 50px;
    }
    .num {
      margin-top: 23px;
      color: #FABE32;
      font-size: 28px;
      font-weight: bold;
    }
  }
  .right {
    flex: 1;
    padding: 68px 80px 100px 80px;

    .panel {
      &:not(:first-child) {
        margin-top: 30px;
      }
      .panel-title {
        color: #fff;
        font-size: 24px;
      }
      .panel-content {
        margin-top: 16px;
      }
      .opacity-bg {
        position: absolute;
        display: table;
        content: '';
        opacity: .3;
        width: 100%;
        height: 100%;
        background: rgba(116,116,170,0.30);
        opacity: .3;
        z-index: 0;
      }
      .game {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 105px;
        border-radius: 8px;
        .game-left {
          display: flex;
          align-items: center;
          padding-left: 34px;
          .icon {
            width: 36px;
          }
          .num {
            font-size: 28px;
            color: #FABE32;
            margin-left: 14px;
          }
        }
        .game-right {
          font-size: 24px;
          padding-right: 34px;
          color: #fff;
        }
      }
      .deposit-target {
        display: flex;
        align-items: center;
        .transfer-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          position: relative;
          flex: 1;
          .title {
            color: #7474AA;
            font-size: 16px;
            margin-top: 36px;
            z-index: 1;
          }
          .info {
            display: flex;
            align-items: center;
            margin-top: 40px;
            z-index: 1;
            .icon {
              width: 36px;
            }
            .name {
              font-size: 24px;
              color: #FABE32;
              margin-left: 15px;
            }
          }
          .addr {
            display: flex;
            align-items: center;
            margin: 16px 0 36px 0;
            z-index: 1;
            color: #fff;
            font-size: 16px;
          }
        }
        .transfer-icon {
          width: 23px;
        }
      }
      .targets {
        .target-max {
          text-align: right;
          color: #FF8600;
          margin-top: 16px;
          font-size: 16px;
        }
      }
      :global {
        .deposit-input {
          .ant-input {
            color: #fff;
          }
          .ant-input-search-button {
            width: 140px;
            background: linear-gradient(180deg,#ffd571, #f6ab01);
            color: #291C44;
          }
        }
      }
    }
  }
  .submit-btn {
    position: absolute;
    bottom: -50px;
    width: 360px;
    height: 100px;
    background: url(../../assets/btn-large.webp) no-repeat center;
    background-size: 100% 100%;
  }
}