.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../../../../assets/wallet-bg.webp) no-repeat center;
  background-size: 100%;
  width: 280px;
  height: 79px;
  cursor: pointer;
  padding: 0 30px 0 40px;
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }
  .card-title {
    font-size: 18px;
    color: #291c44;
    font-weight: 600;
  }
  &:hover {
    opacity: .9;
  }
}