@import '../../../../styles/var.scss';

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(180deg, #585858, #414141 99%);
  // border: 1px solid #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 6px;
  border-radius: 6px;
  .card-title {
    color: $primary-color;
  }
  &:hover {
    opacity: .65;
  }
}